html, body {
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: comic sans ms, serif;
	color: #5b5b5b;
}

#game {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
	image-rendering: pixelated;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: none;
}

#death-count {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #c3c3c3;
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
}

#message {
	z-index: 2;
	opacity: 1;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #c3c3c3;
}

#message p {
	font-size: 100px;
	position: absolute;
	top: 0;
	left: 0;
}

.animation {
  transition-property: opacity;
  transition-duration: 1s;
  opacity: 0 !important;
}