html, body {
	margin: 0;
	padding: 0;
	background-color: black;
}

#game {
	position: absolute;
	max-width: 100%;
	max-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: none;
}